html {
    scroll-behavior: smooth;
    color: #D0AB99;
}

a.navbar-item{
    background-color: #D0AB99;
}

.navbar-dropdown.is-boxed, a.navbar-item:hover{
    color:#D0AB99;
    background-color: #FBEDE0;
}
.navbar-menu{
    background-color: #D0AB99;
}

.hero-body{
    display: flex;
    flex-direction: row;
}

.body-text{
    width: 40%;
}

.body-pic{
    margin: auto;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cards > .card {
    width: 300px;
    min-height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* color nth card */
.card:nth-child(1) > .card-header {
    background-color: #FDD1D2;
}
.card:nth-child(2) > .card-header {
    background-color: #D4BBDD;
}
.card > .card-header > * {
    color: white;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

/* skill pill */
.skills-list > li {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    color: #FBEDE0;
    background-color: #D0AB99;
    margin: 5px;
    transition: all 0.5s ease 0s;
}

.skills-list > li:hover{
    transform: scale(1.05);
}

.navbar-start{
    margin: auto;
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover{
    color: #D0AB99;
    background-color: #FBEDE0;
    opacity: 0.7;
}


.navbar-dropdown.is-boxed{
    color:#FBEDE0;
    background-color: #D0AB99;
}

a.navbar-link{
    color:#FBEDE0;
    background-color: #D0AB99;
}


.navbar-item:hover{
    background-color:#FBEDE0;
    color: #D0AB99; 
    border-radius: 10px;
}
.navbar-item{
    color: #FBEDE0;
    transition: all 0.5s ease 0s;
}



.title{
    color: #D0AB99;
}

.subtitle{
    color: #D0AB99;
}

.icon {
    display: flex;
    margin: auto;
    width: 100%;
  }
  
  .icon i {
    margin-top: 48px;
    margin: 3%;
  }
  
  .icon-span {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    width: 100%;
    /* transition: all 0.8s ease 0s; */
  }


  .fa-brands.fa-facebook{
    transition: all 0.3s ease 0s;
  }
  .fa-brands.fa-facebook:hover{
    transform: scale(1.2) rotate(-10deg);
  }


  .fa-brands.fa-instagram{
    transition: all 0.3s ease 0s;
  }
  .fa-brands.fa-instagram:hover{
    transform: scale(1.2) rotate(-10deg);
  }


  .fa-brands.fa-linkedin{
    transition: all 0.3s ease 0s;
  }
  .fa-brands.fa-linkedin:hover{
    transform: scale(1.2) rotate(-10deg);
  }


  .fa-brands.fa-twitter{
    transition: all 0.3s ease 0s;
  }
  .fa-brands.fa-twitter:hover{
    transform: scale(1.2) rotate(-10deg);
  }


  .fa-brands.fa-discord{
    transition: all 0.3s ease 0s;
  }
  .fa-brands.fa-discord:hover{
    transform: scale(1.2) rotate(-10deg);
  }
  
  .contact-content {
  }

.colour1 {
    background-color: #FBEDE0;
  }
  
  .colour2 {
    background-color: #FDD1D2;
  }
  
  .colour3 {
    background-color: #D4BBDD;
  }
  
  .colour4 {
    background-color: #D0AB99;
  }